<div>
    <h2 data-translate="staceyEditorApp.fileState.home.title">File States</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="file-statestacey.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="staceyEditorApp.fileState.home.createLabel">
                        Create new File State
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModification"><span data-translate="staceyEditorApp.fileState.lastModification">Last Modification</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span data-translate="staceyEditorApp.fileState.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fileId"><span data-translate="staceyEditorApp.fileState.file">File</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fileState in vm.fileStates track by fileState.id">
                    <td><a ui-sref="file-statestacey-detail({id:fileState.id})">{{fileState.id}}</a></td>
                    <td>{{fileState.lastModification | date:'medium'}}</td>
                    <td>{{fileState.content}}</td>
                    <td>
                        <a ui-sref="filestacey-detail({id:fileState.fileId})">{{fileState.fileId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="file-statestacey-detail({id:fileState.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file-statestacey.edit({id:fileState.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file-statestacey.delete({id:fileState.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
