<div>
    <h2 data-translate="staceyEditorApp.fileState.home.title">File States</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="file-statestacey.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="staceyEditorApp.fileState.home.createLabel">
                        Create new File State
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="staceyEditorApp.fileState.version">Version</span></th>
                    <th><span data-translate="staceyEditorApp.fileState.last">Last</span></th>
                    <th><span data-translate="staceyEditorApp.fileState.content">Content</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fileState in vm.fileStates track by fileState.id">
                    <td><a ui-sref="file-statestacey-detail({id:fileState.id})">{{fileState.id}}</a></td>
                    <td>{{fileState.version}}</td>
                    <td>{{fileState.last | date:'medium'}}</td>
                    <td>
                        <a ng-if="fileState.content" ng-click="vm.openFile(fileState.contentContentType, fileState.content)" data-translate="entity.action.open">open</a>
                        <span ng-if="fileState.content">{{fileState.contentContentType}}, {{vm.byteSize(fileState.content)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="file-statestacey-detail({id:fileState.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file-statestacey.edit({id:fileState.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file-statestacey.delete({id:fileState.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
